body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  padding: 70px;
  background-color:#67d8bfb4;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card{
  border: #ecca59e3 solid 2px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color:#64e9ccc4 ;
}
