.app{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 50px;
  margin: 20px;
  background-color: #e1ee6be5;
  border-radius: 15px;
}
.fact-box{
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}